<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抗原试剂盒结果识别 Demo</title>
</head>
<body>
    <h2>接口演示</h2>

    <br/>

    <div style="text-align:left;">

    <h3>识别试剂盒结果</h3>
    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="cate" value="detpos_check">
        <div><input type="file" name="file">
        <input type="submit" value="提交"></div>
    </form>

    </div>
</body>

<p>测试图片下载：<a href="/static/test.zip">test.zip</a></p>

</html>
