<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>QA test</title>
</head>
<body>

<h1>问答测试</h1>

<div id=content>

<h2>背景知识：(不超过450字)</h2>

<form method="post" enctype="multipart/form-data">

    <div>
        <textarea rows="10" cols="100" name="corpus" maxlength="450">金字塔（英语：pyramid），在建筑学上是指锥体建筑物，著名的有埃及金字塔，还有玛雅卡斯蒂略金字塔、阿兹特克金字塔（太阳金字塔、月亮金字塔）等。一般来说基座为正三角形或四方形等的正多边形，也可能是其他的多边形，侧面由多个三角形或接近三角形的面相接而成，顶部面积非常小，甚至成尖顶状。古代金字塔，是用石块堆叠而成，越高使用材料越少，质心接近基座，可以有效抵挡自然灾害。世界上许多不同的文明都有建造金字塔。在数千年的时间里，金字塔是世界上最大的建筑物。
        </textarea>
    </div>

    <h2>提问：(不超过60字)</h2>
    <div>
        <textarea rows="5" cols="100" name="question" maxlength="60">金字塔是什么？</textarea>
    </div>

    <div>
        <input type="submit" value="提交">
    </div>

</form>

</div>

<br clear=all />

</body>
</html>

